CTP_PROJECT_KEY=your-project-key
CTP_CLIENT_ID=your-admin-client-id
CTP_CLIENT_SECRET=your-admin-client-secret
CTP_API_URL=https://api.us-central1.gcp.commercetools.com
CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
CTP_SCOPES=manage_project:your-project-key
